/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #222;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}

nav a:hover{
    background: rgb(83, 83, 83);
    color: #007BFF;
    transition: transform 0.2s ease;
}

h1 {
    margin: 0;
}

main {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* College Table Styles */
.college-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.college-table th,
.college-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.college-table th {
    background-color: #222222;
    color: #fff;
}

.college-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.college-table tbody tr:hover {
    background-color: #dfdcdc;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
.footer-bottom {
    background-color: #222;
    padding: 10px 0;
    text-align: center;
}

.footer-bottom p {
    margin: 0;
    font-size: 16px;    
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    main {
        padding: 10px;
    }
    .college-table th,
    .college-table td {
        padding: 8px;
    }
}
